<div class="section-title">Most Popular Recipes</div>
<div class="section-desc ">
    Delicious and mouth watering recipes to try at your home which are collected by the viewer's likes and reviews.
</div>
<div class="marTop2pr"></div>
@{ 
    var popularRecipe = (List<Foodzfame.Data.Entities.Dish>)ViewBag.popularPosts;
}
<div class="row">
    <div class="container">
        <div class="row">
            @foreach (var item in popularRecipe)
            {
            <div class="col-sm-3 padding-bottom3pr">
                <div class="border-radius">
                    @{
                        var filename = "../Foodzfame2/wwwroot/dishes/dish_" + item.Id.ToString() + ".jpg";
                        var url = string.Concat(Url.ActionContext.HttpContext.Request.Scheme, "://", Url.ActionContext.HttpContext.Request.Host.Value);

                        var src = string.Concat(url,"/dishes/dish_" , item.Id.ToString() , ".jpg");
                        if (!System.IO.File.Exists(filename))
                            System.IO.File.WriteAllBytes(filename, item.Img);
                        if (item.Desc != null && item.Desc.Length > 20)
                            item.Desc = item.Desc.Substring(0, 19);
                    }
                    <a asp-controller="Recipe" asp-action="Recipe" asp-route-id="@item.Id"> <img src="@src" class="zoom" /></a>
                    <div class="dishTitle">
                        @if (item.EditorsChoice.HasValue && item.EditorsChoice.Value)
                        {
                        <img src="~/img/EditorsChoice.png" title="Editor's Choice" class="EditorsChoice" />
                                }
                                @item.DishName
                            </div>
        
                            <div class="dishDesc">@item.Desc ...</div>
                    <div class="author">by @item.AddedBy</div>
                    <div class="cookingtime">@item.CookingTime</div>
                    <img src="~/img/clock.png" class="cookingtimeimg" />

                </div>
            </div>
            }
        </div>
    </div>

</div>