@model Foodzfame2.Models.SearchRecipeInput
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Recipe";
    int totalPages = Model.Dishes.Count / 9;
    int counter = 0;
    if (Model.Dishes.Count % 9 != 0)
        totalPages++;
}
<input type="hidden" id="hdnTotalCount" value="@Model.Dishes.Count" />
<input type="hidden" id="hdnTotalPages" value="@totalPages" />
<div class="row defaultHeader">
    <div class="overlay">
        <div class="container">
            <div class="recipeTitle">
                Find your Recipe
            </div>
        </div>
    </div>
</div>
<div class="marTop2pr"></div>
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 box-shadow">
                <form asp-action="Index" method="post">
                    <div class="modal-title desc">Search</div>
                    <div class="row ctgrysearchInput">
                        <input type="text" asp-for="RecipeName" placeholder="Recipe you are looking for..." />
                    </div>
                    @{
                        var lst = (List<SelectListItem>)ViewBag.SubCategory;
                    }
                    <div class="row ctgrysearchInput">
                        <select asp-for="SubCatId" asp-items="lst">
                            <option value="0">Category...</option>
                        </select>
                    </div>
                    <div class="modal-title desc" style="font-size:large;">Cooking Time</div>
                    <div class="row ctgrysearchInput">
                        @{
                            lst = (List<SelectListItem>)ViewBag.CookingTime;
                        }
                        <select asp-for="CookingTime" asp-items="lst">
                            <option value=null>Cooking Time...</option>
                        </select>
                    </div>
                    <div class="modal-title desc" style="font-size:large;">Difficulty</div>
                    <div class="row ctgrysearchInput">
                        @{
                            lst = (List<SelectListItem>)ViewBag.Difficulty;
                        }
                        <select asp-for="Difficulty" asp-items="lst">
                            <option value="0">Difficulty...</option>
                        </select>
                    </div>
                    <div class="modal-title desc" style="font-size:large;">Cooking Method</div>
                    <div class="row ctgrysearchInput">
                        @{
                            lst = (List<SelectListItem>)ViewBag.CookingMethod;
                        }
                        <select asp-for="CookingMethod" asp-items="lst">
                            <option value="0">Cooking Method...</option>
                        </select>
                    </div>
                    <div class="modal-title desc" style="font-size:large;">HashTag</div>
                    <div class="row ctgrysearchInput">
                        <input type="text" asp-for="Tag" placeholder="Seach for HashTags..." />
                    </div>
                    <div class="row ctgrysearchInput">
                        <input type="button" value="Clear" onclick="resetSearch()" class="btn btn-warning" />
                    </div>
                    <div class="row ctgrysearchInput">
                        <input type="submit" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="col-sm-9">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <nav style="padding-left: 1%;" aria-label="Page navigation">
                                <ul class="pagination">
                                    <li title="Previous" class="page-item"><a class="page-link" onclick="paginate(this,9)">Previous</a></li>
                                    @for (int i = 1; i <= totalPages; i++)
                                    {
                                        if (i == 1)
                                        {
                                            <li class="page-item"><a class="page-link active" onclick="paginate(this,9)">@i</a></li>

                                        }
                                        else if (i > 3)
                                        {
                                            <li class="page-item"><a  style="display:none;" class="page-link" onclick="paginate(this,9)">@i</a></li>

                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link" onclick="paginate(this,9)">@i</a></li>

                                        }
                                    }
                                    <li class="page-item" title="Next"><a class="page-link" onclick="paginate(this,9)">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="row">

                            @foreach (var item in Model.Dishes)
                            {
                                counter++;
                                if (counter <= 9)
                                {
                                    <div id="page_@counter" class="col-sm-4 padding-bottom3pr">
                                        <div class="border-radius">
                                            @{
                                                var base64 = Convert.ToBase64String(item.Img);
                                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                if (item.Desc != null && item.Desc.Length > 20)
                                                    item.Desc = item.Desc.Substring(0, 19);
                                            }
                                            <a asp-action="Recipe" asp-route-id="@item.Id"><img src="@imgSrc" class="zoom" /></a>
                                            <div class="dishTitle">
                                                @if (item.EditorsChoice.HasValue && item.EditorsChoice.Value)
                                                {
                                                    <img src="~/img/EditorsChoice.png" title="Editor's Choice" class="EditorsChoice" />
                                                }
                                                @item.DishName
                                            </div>
                                            <div class="dishDesc">@item.Desc ...</div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-4 padding-bottom3pr" id="page_@counter" style="display:none;">
                                        <div class="border-radius">
                                            @{
                                                var base64 = Convert.ToBase64String(item.Img);
                                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                if (item.Desc != null && item.Desc.Length > 20)
                                                    item.Desc = item.Desc.Substring(0, 19);
                                            }
                                            <a asp-action="Recipe" asp-route-id="@item.Id"><img src="@imgSrc" class="zoom" /></a>
                                            <div class="dishTitle">
                                                @if (item.EditorsChoice.HasValue && item.EditorsChoice.Value)
                                                {
                                                    <img src="~/img/EditorsChoice.png" title="Editor's Choice" class="EditorsChoice" />
                                                }
                                                @item.DishName
                                            </div>
                                            <div class="dishDesc">@item.Desc ...</div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="marTop2pr"></div>
<partial name="_MostPopularPartial" />

<div class="marTop2pr"></div>
<partial name="_SubscribePartial" />

@*<div class="marTop2pr marBottom3pr"></div>*@
